figure.snip0022 {
  position: absolute;
  overflow: hidden;
  width: 140px;
  height: 140px;
  text-align: center;
  float: right;
  right: 0px;
  bottom: 0px;
  margin: 0;
  font-size: 1.25em;
  color: hsl(0, 75%, 20%);
  color: white;
  border: solid 0 red;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    padding: 20% 0 0 0;
    top: 35%;
    z-index: 4;
    background: url("../img/phone_white.png") no-repeat center top/60%;
    text-shadow: 1px 1px 1px black;
  }

  > * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      position: absolute;
      inset: 0 0 0 0;
      content: "";
      opacity: 1;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
      background-image: linear-gradient(
        -45deg,
        hsl(24, 55%, 20%),
        transparent 70%
      );
    }
 
    #x {
      position: absolute;
      width: 18px;
      height: 18px;
      bottom: 6px;
      right: 6px;
      z-index: 3;
      opacity: 0;
      background: url("../img/nav.png") no-repeat left bottom;
    }
  }

  .curl {
    width: 0px;
    height: 0px;
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.95),
      rgba(242, 242, 242, 0.9) 20%,
      rgba(187, 187, 187, 0.85) 38%,
      rgba(171, 171, 171, 0.8) 44%,
      rgba(135, 135, 135, 0.75) 50%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.3) 80%
    );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
  }
  &:hover .curl {
    width: 100px;
    height: 100px;
  }
  &:hover {
    color: hsl(60, 60%, 70%);
  }
  &:hover #x {
    opacity: 0.7;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
}

@media only screen and (min-width: 813px) {
.outings figure.snip0022 > div, .gallery figure.snip0022 > div{
  background-image: linear-gradient(
    -45deg,
   olive,
    transparent 55%
  );
}
figure.snip0022 > div:before {
  background-image: none;
}
figure.snip0022:hover aside {
  background-image: url("../img/phone_color.png");
}

}