.accordion {
  position: relative;
  z-index: 3;
  background-color: transparent;
  font: 1em Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  input {
    display: none;
    &:checked + ul {
      z-index: 2;
      opacity: 0.95;
      left: calc(100% - 11em);

      > li {
        height: 2.5em;
      }
    }
  }
  label {
    background: 50% 1% url("../img/wheel.png") no-repeat firebrick;
    background-size: 100%;
    transition: transform 1s;
    border-radius: 50%;
    border: solid 1px white;
    position: absolute;
    right: calc(54px + 22 * (100vw - 269px) / (375 - 269));
    top: calc(20px + 10 * (100vw - 269px) / (375 - 269));
    width: calc(36px + 14 * (100vw - 269px) / (375 - 269));
    height: calc(36px + 14 * (100vw - 269px) / (375 - 269));
    &:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      background-color: hsl(0, 68%, 33%);
    }
  }
  ul {
    width: 11em;
    position: absolute;
    top: 6.5em;
    left: -99em;
    background-color: transparent;
    li {
      margin: 0;
      display: block;
    }
    & > li {
      height: 0;
      line-height: 2.4;
      transition: height 0.9s ease-out;
      a {
        display: block;
        border: solid 1px grey;
        border-radius: 0;
        padding: 0 0.5em;
        background-color: rgba(0, 0, 20, 0.95);
        background-color: hsla(0, 68%, 30%, 1);
        color: white;
        &:hover {
          @include highlight();
        }
      }
      &.hi a {
        background: hsla(0, 68%, 42%, 1);
        color: white;
        &:hover {
          @include highlight();
        }
      }
    }
  }
}

@media only screen and (min-width: 376px) {
  .accordion {
    label {
      right: calc(77px + 23 * (100vw - 375px) / (480 - 375));
      top: calc(30px + 12 * (100vw - 375px) / (480 - 375));
      width: calc(50px + 10 * (100vw - 375px) / (480 - 375));
      height: calc(50px + 10 * (100vw - 375px) / (480 - 375));
    }
    ul {
      top: calc(88px + 15 * (100vw - 320px) / (480 - 375));
    }
    input:checked + ul {
      left: calc(180px + 50 * (100vw - 320px) / (480 - 375));
    }
  }
}

@media only screen and (min-width: 481px) {
  .accordion {
    label {
      position: absolute;
      top: 1.25em;
      right: 2em;
      height: 5em;
      width: 5em;
      background-position: 50% 100%;
    }
    ul {
      top: 7em;
    }
    input:checked + ul {
      left: auto;
      right: 0;
    }
  }
}

@media only screen and (min-width: 813px) {
  nav.accordion {
    ul {
      width: 70%;
      z-index: 1;
      position: relative;
      left: auto;
      top: auto;
      > li {
        margin: 0 0 0.5em;
        height: auto;
        line-height: normal;
        a {
          padding: 0.5em;
          background-color: rgba(255, 255, 255, 0.8);
          color: hsla(0, 68%, 30%, 1);
          border-radius: 8px;
          text-decoration: none;
          &:hover {
            @include highlight2();
          }
        }
        &.hi a {
          @include highlight2();
          font-weight: bold;
          &:hover {
            @include highlight2();
          }
        }
      }
    }
    label {
      display: none;
    }
    input:checked + ul > li {
      height: auto;
    }
  }
}
