#wrap.outings {
  > div {
    background-color: hsla(28, 77%, 12%, 0.5);
  }
  main {
    color: white;
    section {
      margin: 0 0 3em;
      display: flex;
      align-content: start;
      color: white;

      &:last-of-type {
        margin: 0 0 7em;
      }
      article {
        border-top: solid 1px white;
        padding: 0.5em 0.5em 0;
        display: flex;
        flex-direction: column;
        flex: 5 1 1em;
        p {
          margin: 0;
          font-size: 1.2em;
          text-shadow: 1px 1px 1px black;
        }
        .external {
          display: none;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
    > p.intro {
      margin: 1em 0;
      font: 1.04em/1.4 Montserrat, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    }
    &.one section:nth-of-type(n + 5) {
      display: none;
    }
    &.two section:nth-of-type(-n + 4),
    &.two section:nth-last-of-type(-n + 4) {
      display: none;
    }

    &.three section:nth-of-type(-n + 8) {
      display: none;
    }
  }
}

#pagination li {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0.2em 0 0;
}

#pagination a {
  background-color:  hsl(60, 60%, 70%);
  color: hsl(32, 66%, 10%);
  width: 2em;
  height: 2em;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  line-height: 2;
}

#pagination a:hover,
.one #pagination li:nth-child(1) a,
.two #pagination li:nth-child(2) a,
.three #pagination li:nth-child(3) a {
  background-color:  hsl(60, 60%, 40%);
  color: white;
}

@media only screen and (min-width: 668px) {
  #wrap.outings {
    background-image: none;
    main {
      color: white;
      background-color: transparent;
      margin: 0;

      .intro {
        margin: 1em 0;
      }

      article {
        flex: 6 1 1em;
      }
    }
  }
}

@media only screen and (min-width: 813px) {
  #wrap.outings {
    background-image: url("../img/main.jpg");
    > div {
      background-color: transparent;
    }
    main {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(49, 2, 73, 1);
      margin: 0.75em;
      padding: 1em;
      > section {
        color: black;

        &:first-of-type {
          margin: 2em 0 3em;
        }
        &:last-of-type {
          margin: 2em 0 5em;
        }
        article {
          border-color: black;
          flex: 7 1 1em;

          p {
            font-size: 1.2em;
            text-shadow: none;
            color: black;

            .external {
              display: block;
              a {
                text-decoration: none;
                color: hsl(32, 66%, 29%);
                font: 0.9em Montserrat, "Helvetica Neue", Helvetica, Arial,
                  sans-serif;
                &:hover {
                  color: hsl(80, 100%, 25%);
                }
              }
            }
            &:last-child {
              margin-top: auto;
            }

            &:last-of-type {
              margin: 0 0 6em;
            }
          }
          h2 {
            color: hsla(0, 68%, 30%, 1);
            text-shadow: none;
          }
        }
      }
      > p.intro {
        margin: 4em 0 1em;
      }
    }
  }

  #pagination a {
    background-color: hsl(340, 95%, 15%);
    color: white;
    font-size: 0.8em;
  }
  #pagination a:hover,
  .one #pagination li:nth-child(1) a,
  .two #pagination li:nth-child(2) a,
  .three #pagination li:nth-child(3) a {
    background-color: hsl(340, 95%, 25%);
  }
}

/*https://wpbeaches.com/aligning-last-item-bottom-container-flexbox/*/

/*https://css-tricks.com/nth-child-between-two-fixed-indexes/*/
